#font{

    font-family: Segoe UI;
    font size: 28px;

}
.answer{
	text-transform: none;
}
.question{
	font-weight: bold;
}
article{
	position: relative;
	padding: 5px 0px 0px 5px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 12px;
	margin: 9px 194px 0px 194px;
	background-color: #EEEEEE;
}
.result{
	text-align: center;
	position: relative;
	padding: 5px 0px 0px 5px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 12px;
	margin: 9px 194px 0px 194px;
	background-color: #ead3d7;
	font-size: 55px;
}

img{
	margin-bottom: 0px;
	}
.title{
	font-weight: bold;
	font-size: 25px;
}
form {
	margin: 5px 32px 12px 12px;
}
.heading{
	color: #F2F1F7;
	padding: 50px 0px 50px 70px;
	margin: 29px 194px 0px 194px;
	margin-bottom: 8px;
	display: block;
	font-weight: 430;
	font-size: 55px;
	background-color: #319A93;
	display: block;
	font-weight: 550;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration-style: wavy;
}
.admin{
	color: #EEF7F6;
	padding: 50px 0px 50px 70px;
	margin: 29px 194px 0px 194px;
	margin-bottom: 8px;
	display: block;
	font-weight: 430;
	font-size: 55px;
	background-color: #4B97A7;
	display: block;
	font-weight: 550;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration-style: wavy;
}
.add{
	color: #284C5E;
	display: block;
	margin: -8px 194px 0px 194px;
	background-color: #BDBDBB;
	padding: 4px 0px 0px 0px;
	font-weight: 500px;
	font-family: Arial;
	font-size: 21px;
	text-align:center;
	height: 35px;
	font-weight: 500;
}
table{
	width: 1132px;
	font-size: 24px;
	border: 1px solid black;
	border: collapse;
	border-collapse: collapse;
	margin: 29px 194px 0px 194px;
	font-family: Arial;
	font-size: 23px;
	text-align: center;
}
table, tr, td {
    border: 1px solid grey;
}
#content{
	text-align: left;
	position: relative;
}
.del :hover{
	text-decoration: none;

}
.next {
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px 0px 79px;
	box-shadow: 2px 2px lightgray;
	text-decoration: none;
}

.next a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.next:hover {
	text-decoration: none;
	box-shadow: 5px 5px lightgray;
}
.fin{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 10px 22px;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px 0px 1200px;
    cursor: pointer;
	box-shadow: 2px 0px  lightgray;
	text-decoration: none;
	text-align: right;
}
.fin: hover {
	text-decoration: none;
	box-shadow: 5px 5px lightgray;
}
.fin a{
	text-decoration: none;
	font-weight: bold;
}
ul#bo{
	list-style-type: none;	
	float: relative;
}
li#bo{
	background-color: #6D5C80;
	float: left;
	font-size: 24px;
	border-top-left-radius: 2px ;
	border-bottom-left-radius: 2px ;
}
li#bo a#bo{
	display: block;
	color: #ffffff;
	padding: 8px 16px;
	text-decoration: none;
}
#no2{
	display: block;
	float: left;
}